JWT_SECRET=my_secret_key

DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=

MONGO_URI=mongodb://localhost:27017/<NOME_DATABASE_MONGO>
MONGO_USER=
MONGO_PASS=
MONGO_AUTH_SOURCE= #per cambiare credenziali andare sul docker-compose